@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

body{
  padding:0px;
  height: 100vh;
  margin: 0px;
  font-size:16px;
  font-family: 'Roboto', sans-serif;
  background-color: #efeff6 !important
}
#container{
  display: flex;
  flex-direction: row;
  width: 100vw;
}

h3{
  margin-top: 0rem;
  margin-bottom: 0rem;
}

#sideBar{
  background-color: #ECECEE;
  position: fixed;
  width: 15rem;
  min-height:100vh;
  box-sizing: border-box;
  padding-top: 4em;
  box-shadow: 0.1px 0px 2px 0.01px #b4b4b4;
}

#posts{
  box-sizing: border-box;
  padding-top: 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
}

#post{
  padding: 1em;
  margin: 1rem;
  width:50vw;
  box-shadow: 0.1px 0.1px 2px 0.01px #b4b4b4;
  color: black;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
}

#projectDetails{
  width: 80%;
  margin: 0 auto;
}

#postInner{
  display: flex;
  flex-direction: row;
}

#pageheader{
  font-size: 2rem;
}

#postInner1{
  width: 50%;
  padding-right: 1em;
}

#postInner2{
  width: 50%;
  padding-left: 1em;
  border-left: 0.1px solid #b4b4b4;
  padding-top: 1rem;
}

#postInner1 p{
  margin:0;
  padding-top: 1rem;
}

#post a{
  text-decoration: none;
  color: black;
}

.projectContainer{
  width: 70%;
  padding-top: 4em;
}

.sideLink{
  padding-left: 2rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  font-family: 'Open Sans', sans-serif;
}

.sideLink a{
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 700;
}

.sideGroup{
  margin-bottom: 2rem;
}

p, li, ul{
  font-family: 'Open Sans', sans-serif;
}

@media only screen and (max-width: 1200px) {
  #posts {
    padding-left: 0.rem;
    padding-right: 0.5rem;
  }
  #pageheader{
    font-size: 2rem;
  }

  #post{
    width: 100%
  }
}


@media only screen and (max-width: 600px) {
  body{
    font-size: 16px;
  }
  #posts {
    padding-left: 0.1rem;
    padding-right: 0.1rem;
  }
  #postInner {
    flex-direction: column;
  }

  #pageheader, h2{
    font-size: 1.5rem;
  }



  #postInner2, #postInner1{
    border: none;
    padding-right: 0;
    padding-left: 0;
    width:100%
  }

  #main{
    padding:5px
  }
  #projectDetails{
    width:100%
  }
}