@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

body{
  padding:0px;
  margin: 0px;
  font-size:16px;
  font-family: 'Roboto', sans-serif;
}
#container{
  display: flex;
  flex-direction: row;
  width: 100vw;
}

h3{
  margin-top: 0rem;
  margin-bottom: 1rem;
}
#sideBar{
  background-color: #464655;
  position: static;
  width: 15rem;
  min-height:100vh;
  box-sizing: border-box;
  padding-top: 4em;
}

#posts{
  box-sizing: border-box;
  padding-top: 4em;
}

#post{
  padding: 1em;
  margin: 1rem;
  width:40vw;
  border: 1px solid #464655;
  color: black
}

#post a{
  text-decoration: none;
  color: black;
}

.projectContainer{
  width: 70%;
  padding-top: 4em;
}

.sideLink{
  padding-left: 2rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.sideLink a{
  text-decoration: none;
  color: white;
}

.sideGroup{
  
  border-bottom: 1px solid #2B2C28;
}